<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>807265229082-se2gru08t9ett843jmml8ahk3lpg0t9e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807265229082-se2gru08t9ett843jmml8ahk3lpg0t9e</string>
	<key>API_KEY</key>
	<string>AIzaSyDBEmZDKpxAVGGs6Kqdmz4CpjdpPm50glY</string>
	<key>GCM_SENDER_ID</key>
	<string>807265229082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eric.gonzalez.Uomi</string>
	<key>PROJECT_ID</key>
	<string>uomi-d8b62</string>
	<key>STORAGE_BUCKET</key>
	<string>uomi-d8b62.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807265229082:ios:332de654c0a14a57</string>
	<key>DATABASE_URL</key>
	<string>https://uomi-d8b62.firebaseio.com</string>
</dict>
</plist>